* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'arial';
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    
}

.header-inner-content {
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.navbar {
    background-color: rgb(33, 24, 78);
    /* cor extraterrestre */
    padding: 1rem;
    position: sticky;
    top: 0;
    box-shadow: 10px 0px 10px black;
    z-index: 99;
}

.navbar>div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    color: #aaffcc;
    
}

.logo span {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav-icon-container {
    display: flex;
    align-items: center;
}

.nav-icon-container img {
    width: 30px;
    cursor: pointer;
}

.nav-icon-container img:first-child {
    margin-right: 1rem;
}

nav ul li {
    color: white;
    margin-right: 1.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

nav ul li:hover {
    transform: scale(1.1);
    transition: all 0.3s ease;
    color: #aaffcc;
}

.menu-button {
    display: none;
}

.header-bottom-side {
    display: flex;
    align-items: center;
    justify-self: center;
    padding: 1rem;
}

.header-bottom-side-left {
    height: 100%;
    flex-basis: 50%;
}

.header-bottom-side-right {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    border: none;
    padding: 10px;
    background-color: rgb(55, 22, 120); /* cor espacial */
    color: white;
    border-radius: 9999px;
    cursor: pointer;
    transition: 0.5s;
    width: 149px;
    position: relative;
    overflow: hidden;
}

/* Remover este bloco para eliminar o efeito oval */
button::before {
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    width: 300%;
    height: 300%;
    background: rgba(255, 255, 255, 0.15);
    transform: rotate(45deg);
    transition: all 0.5s ease;
}

button:hover::before {
    top: 150%;
    left: 150%;
}

.pac-man-eye {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: black;
}

.pac-man-mouth {
    position: absolute;
    bottom: 10px;
    left: 20px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #1a0048;
    /* Cor do espaço */
}

button:hover {
    background-color: rgb(12, 48, 90);
    /* tom mais escuro para o hover */
}

.header-bottom-side-left h2 {
    font-size: 2.7rem;
    margin-bottom: 1.5rem;
    color: #ffcccc;
}

.header-bottom-side-left p {
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
    color: #ffcccc;
}


header {
    background-image: radial-gradient(#700145, #152655);
    /* gradiente mais espacial */
}


@media (max-width: 800px) {
    .logo {
        font-size: 1rem;
    }

    .menu-button {
        display: block;
    }

    .header-bottom-side {
        flex-direction: column;
        text-align: center;
        padding-top: 4rem;
    }

    .botao {
        margin-bottom: 10px;
    }

    nav {
        position: absolute;
        background-color: rgb(33, 24, 78);
        width: 100%;
        top: 46px;
        display: none;
    }

    .navbar.show-menu nav {
        display: block;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        text-align: center;
        padding: 0.8rem;
    }
}

.gray-background {
    background: radial-gradient(circle, #003f5c, #002a3e, #001c2b);
    /* Gradiente espacial com tons escuros e misteriosos */
}


.page-inner-content {
    max-width: 1150px;
    margin: 0 auto;

}

.cols-4 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.cols-4 img {
    max-width: 100%;
}

.cols-4>* {
    cursor: pointer;

}

.section-title {
    text-align: center;
    margin-top: 4rem;
    font-size: 1.8rem;
}

.subtitle-underline {
    width: 100px;
    height: 5px;
    background: rgb(31, 5, 80);
    border-radius: 9999px;
    margin: 8px auto 0 auto;
    margin-bottom: 20px;
}

main {
    background-image: radial-gradient(circle, #63446d, #917bb8, #634f91);
    /* Gradiente espacial com tons de roxo, azul escuro e roxo brilhante */
}

.product {
    color: #2c2c2c;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.product-name {
    font-weight: 600;
    margin-top: 0.4rem;
}

.rate {
    color: blue;
    font-size: 1.3rem;
}

.product-price span {
    font-weight: 600;
}

footer {
    background: radial-gradient(circle, #1a0048, #000000); /* Gradiente espacial escuro */
    color: #aaffcc; /* Cor clara para contraste com o fundo escuro */
    padding: 2rem; /* Aumente o padding para mais espaço */
    text-align: center; /* Centralize o texto */
    position: relative; /* Para garantir que o footer se posicione corretamente */
    z-index: 10; /* Para garantir que o footer fique acima de outros elementos, se necessário */
}

footer p {
    margin: 0;
    font-size: 1.2rem; /* Ajuste o tamanho da fonte para melhor legibilidade */
}

.footer-social-icons {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}

.footer-social-icons a {
    display: inline-block;
    margin: 0 1rem;
    color: #aaffcc;
    font-size: 1.5rem; /* Aumente o tamanho dos ícones para destacá-los */
    transition: color 0.3s ease, transform 0.3s ease; /* Adicione uma transição suave */
}

.footer-social-icons a:hover {
    color: #ffcc00; /* Cor de destaque ao passar o mouse */
    transform: scale(1.2); /* Efeito de aumento ao passar o mouse */
}

.footer-credit {
    margin-top: 2rem;
    font-size: 1rem;
    color: #ffcccc; /* Cor clara para a mensagem de crédito */
}


@keyframes footerGlow {
    0% {
        opacity: 0.2;
    }

    100% {
        opacity: 0.6;
    }
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: #db8205;
    text-decoration: none;
    font-size: 20px;

}

@media (max-width: 800px) {
    .section-title {
        font-size: 1 rem;
    }

    .cols-4 {
        grid-template-columns: repeat(2, 1fr);
    }

    .page-inner-content {
        max-width: 1200px;
        margin: 0 auto;
        padding: 20px;
    }

    .cols-3 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 3rem;
        align-items: center;
        justify-content: space-evenly;
    }

    .cols-1 {
        grid-template-columns: 1fr;
    }

    .cols-1 img {
        width: 100%;
        /* Para garantir que as imagens ocupem 100% da largura do contêiner */
    }
}

.btn-add-to-cart {
    padding: 10px;
    margin-top: 25px;
    border-radius: 5px;
}

.quadrado {
    width: 350px;
    height: 380px;
    border: 1px solid black;
    border-radius: 10px;
    display: none;
    /* Adicionei essa linha para ocultar inicialmente o quadrado */
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(228, 228, 228);
    padding: 20px;
    text-align: center;
    z-index: 99999999999999999;
}

#valorContainer {
    max-height: 200px;
    /* Altura máxima da div antes de aparecer a barra de rolagem */
    overflow-y: auto;
    /* Adiciona uma barra de rolagem vertical se necessário */
}

.valorItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}

#totalContainer {
    margin-top: 10px;
}

#finalizarCompraBtn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.fechec {
    background-color: red;
    width: 30px;
    border-radius: 999px;
    height: 30px;
    transition: background-color 0.3s ease;
    align-items: center;
}


.fechec:hover {
    background-color: darkred;
}

#cc {
    width: 70px;
}

.remover-botao {
    background-color: red;
    /* Cor de fundo vermelha */
    color: white;
    /* Cor do texto branca */
    border: none;
    /* Remove a borda */
    padding: 5px 10px;
    /* Adiciona um pouco de preenchimento interno */
    border-radius: 5px;
    /* Borda arredondada */
    cursor: pointer;
    /* Cursor de ponteiro ao passar o mouse */
    transition: background-color 0.3s ease;
    /* Transição suave de cor de fundo */
}
.remover-botao:hover {
    background-color: darkred;
    /* Cor de fundo mais escura quando passar o mouse */
}

.loader {
    display: flex;
    justify-content: space-between;
}

#pacman {
    width: 100%;
    height: auto;
    background: #aaffcc;
    border-radius: 50%;
    position: relative;
    overflow: hidden;
}

.pac-man-background {
    background-image: radial-gradient(circle, #220663, #180e29, #7811b8);
    /* Gradiente espacial para o fundo do Pac-Man */
    border: 3px solid #aaffcc;
    /* Cor platinada para o Pac-Man */
    border-radius: 50%;
}

.pac-man {
    width: 5em;
    aspect-ratio: 1;
    border-radius: 50%;
    background: radial-gradient(farthest-side, #000 98%, #0000) 1.7em 0.61em/.8em .8em no-repeat,
        #c0c0c0;
    /* Pac-Man platinado prata */
    box-shadow: .2em -.6em 1.2em 0em inset rgba(0, 0, 0, 0.7);
    animation: l4 .5s infinite steps(5) alternate;
    z-index: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #ffffff;
    /* Cor clara para combinar com o tema espacial */
    position: relative;
    font-size: 2rem;
    /* Ajuste o tamanho conforme necessário */
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.2);
    /* Aura clara ao redor do texto */
    border-radius: 50%;
    z-index: -1;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.8);
    /* Brilho suave */
    animation: auraAnimation 2s infinite alternate;
}

@keyframes auraAnimation {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.2);
        opacity: 1;
    }
}

hr {
    border: none;
    height: 1px;
    background: linear-gradient(to right, #6e00b1, #0f0033);
    /* Gradiente espacial */
    margin: 2rem 0;
}

.point {
    position: absolute;
    width: 1.5em;
    height: 1.5em;
    background: radial-gradient(circle, #e5ff00, #ffc400);
    /* Gradiente verde neon */
    border-radius: 50%;
    clip-path: polygon(50% 0%, 61% 35%, 98% 35%, 68% 57%, 79% 91%, 50% 70%, 21% 91%, 32% 57%, 2% 35%, 39% 35%);
    box-shadow: 0 0 10px rgba(57, 255, 20, 0.7);
    /* Efeito de brilho neon */
    transform: translateY(1.5em);
    /* Ajuste para descer mais */
}




.p1 {
    margin-left: 8em;
    animation: moove-p1 2s linear infinite;
}

.p2 {
    margin-left: 15em;
    animation: moove-p2 2s linear infinite;
}

@keyframes moove-p1 {
    0% {
        margin-left: 8em;
    }

    100% {
        margin-left: 0em;
    }
}

@keyframes moove-p2 {
    0% {
        margin-left: 16em;
    }

    100% {
        margin-left: 8em;
    }
}

@keyframes l4 {

    0% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0, 0 0, 0 100%, 100% 100%, 100% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 100% 65%, 100% 0, 0 0, 0 100%, 100% 100%, 100% 35%)
    }
}
